*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px; 
    grid-template-columns: 1fr 150px; /* 1fr uma fração para dividir o espaço igualmente entre as colunas.*/
    gap: 5px;
}

.caixa{
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/*          LINHAS               COLUNAS
                                 -1 = 3
            -1 = 5               -2 = 2
            -2 = 4
            -3 = 3
        
*/

#topo{            /*LINHAS    COLUNAS*/
        grid-area:   1/1    /    2/3;
}

#menu{
        grid-area: 2/1 / 3/3;
}

#principal{
        grid-area: 3/1 / 4/2;
}

#secundario{
        grid-area: 3/2 / 4/3;
}

#rodape{
        grid-area: 4/1 / 5/3;
}

